<h1>Welcome to your InventoryTracker, <%= current_user.email %>!</h1>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to 'Change Your User Details', edit_user_path(:id => current_user.id) %> or 
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Log In", login_path %> or
  <%= link_to "Sign Up", signup_path %> 

<% end %>

<p id="notice"><%= notice %></p><br><br>

<h2>Your Inventory Items:</h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

<p>You'll be sent an email when your item quantity reaches zero...</p>